option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurants.wsgi:application
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elbv2:loadbalancer:
    SecurityGroups: sg-xxxxxxxxx
  aws:ec2:instances:
    InstanceTypes: t3.micro,t3.small

commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

container_commands:
  01_migrate:
    command: python manage.py migrate
    leader_only: true
  02_createsu:
    command: python manage.py create_superuser
    leader_only: true
