<!-- Footer Component -->
<footer style="
    background-color: transparent;
    padding: 60px 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
">
    <p style="margin: 0;">
        made with <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="#E06E7F" stroke="none" style="display:inline;vertical-align:middle;"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg> for food lovers
    </p>
</footer>
